div.cards
  div.container
    div.col.s12
      h2 This cards are super handy!
    div.row      
      - for (var i = 0; i < 3; ++i) {
      div.col.l4.m6.s12
        div.card
          div.avatar
          div.description 
             
      - }
