section.categories
  div.container
    
    div.row
      div.col.s12
        h2 I really love this colors 
      div.col.l4.m6.s12
        div.item.blue
          i.fa.fa-4x.fa-microchip
          p RAM
                   
      div.col.l4.m6.s12
        div.item.purple
          i.fa.fa-4x.fa-microchip
          p RAM 
      div.col.l4.m6.s12
        div.item.red
          i.fa.fa-4x.fa-microchip
          p RAM 
      div.col.l4.m6.s12
        div.item.dark-purple
          i.fa.fa-4x.fa-microchip
          p ROM
          
      div.col.l4.m6.s12
        div.item.light-green
          i.fa.fa-4x.fa-microchip
          p ROM 
      div.col.l4.m6.s12
        div.item.dark-blue 
          i.fa.fa-4x.fa-microchip
          p ROM   
