section.categories
  div.container
    div.row
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p RAM
                   
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p RAM 
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p RAM 
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p ROM
          
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p ROM 
      div.col.l4.m6.s12
        div.item 
          i.fa.fa-4x.fa-microchip
          p ROM   
