section.categories
  div.container
    div.row
      div.col.l4.m6.s12
        div.item Tech
      div.col.l4.m6.s12
        div.item Tech
      div.col.l4.m6.s12
        div.item Tech
      div.col.l4.m6.s12
        div.item Tech
      div.col.l4.m6.s12
        div.item Tech
      div.col.l4.m6.s12
        div.item Tech
